<p>home works!</p>


<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>



<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>


<mat-card>
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>Start</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br>



<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>

<br>
<br>
<br>

<p>Teste de interpolação, pegando variável do 'home.compnent.ts'.</p>
<p style="font-size: 20px;">O valor da minha variável é: <span style="color: red;">{{meuValor}}</span> <br> Escuto o TS e atualizo aqui</p>
